# === Node.js ===
/node_modules
/dist
/build

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# === Prisma ===
# Keep migrations (track schema changes in Git!)
!/prisma/migrations
# Ignore local database files (SQLite, etc.)
prisma/*.db
prisma/*.db-journal

# === Testing ===
/coverage
/.nyc_output

# === OS ===
.DS_Store

# === IDEs and Editors ===
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# === Env files ===
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# === Temp and runtime ===
.temp
.tmp
pids
*.pid
*.seed
*.pid.lock

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Generated code folders
secrets
generated
*/generated
*/@generated
docs

**/seed.ts
update*
