# See https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

### Build & Compiled Output ###
/dist
/build
/out-tsc
/tmp
/out-tsc
/node-compile-cache
**/dist/
web-build/

### Dependencies ###
/node_modules
**/node_modules/
.yarn/

### Logs ###
/logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
/libpeerconnection.log
testem.log
npm-debug.log
yarn-error.log
testem.log

### Runtime & Cache ###
.temp
.tmp
/.nx
.nx/cache
.nx/workspace-data
/connect.lock
.expo/
cache/
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
pids
*.pid
*.seed
*.pid.lock
/.sass-cache
/libpeerconnection.log

### Testing & Coverage ###
/coverage
/.nyc_output
/test-output
test-output

### Environment Variables ###
.env
.env.*
!.env.example
.env.local
.env.development.local
.env.test.local
.env.production.local

### IDEs & Editors ###
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
/typings

### VSCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### System Files ###
.DS_Store
Thumbs.db

### Nx Workspace ###
.cursor/rules/nx-rules.mdc
.github/instructions/nx.instructions.md

### Expo ###
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

### Misc ###
/connect.lock
/coverage
/libpeerconnection.log
/typings
